<h1>Showing Video</h1>

<div class="form-group">
  <strong>Description:</strong>
  <%= @video.description %>
</div>

<div class="form-group">
  <strong>File:</strong>
  <%= video_tag @video.file.thumb.url %>
</div>

<p>
  <strong>Is active:</strong>
  <%= @video.is_active %>
</p>

<p>
  <strong>Order:</strong>
  <%= @video.order %>
</p>

<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
